.body {
  min-height: 100vh;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../public/galeria03big.jpg) no-repeat center center fixed;
  background-size: cover;
}
.h1 {
  color: white;
}
.imagen {
  display: flex;
  justify-content: center;
  padding: 20px 40px 40px 40px;
}

.para {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
  padding-bottom: 15px;
  color: white;
  font-size: 1.2rem;
}
